body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
}

header {
  background: black;
  padding: 20px;
  text-align: center;
}

nav a {
  margin: 0 10px;
  color: gold;
  text-decoration: none;
  font-weight: bold;
}

.section {
  padding: 80px 20px;
  text-align: center;
}

.dark {
  background: #1c1c1c;
}

button {
  padding: 10px 20px;
  margin-top: 15px;
  background: gold;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

footer {
  background: black;
  text-align: center;
  padding: 20px;
}
